<nav class="navbar">
  <div class="izda">
    <div class="navbar-brand">Movied</div>
  </div>

  <div class="dcha">
    <div class="searchInput">
      <input type="search" #term id="text-input" (keyup)="search(term.value)">
    </div>
    <div class="modal-button">
      <button type="button" class="btn btn-primary"     (click)="smModal.show()">Sign in</button>
    </div>
    <div class="name">
        username: {{name}}
    </div>
  </div>
</nav>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">User</h4>
        <input #usertext type="text" name="user" value="" (keypress)="eventHandler($event, usertext.value)">
      </div>
      <div class="modal-body">
        <button type="button" class="btn-primary" aria-label="Close" (click)="signIn(usertext.value)">Sign In</button>
      </div>
    </div>
  </div>
</div>
